body {
  margin: 0;
  font-family: 'Georgia', serif;
}

section:not(.contact-section):not(.hero-section) {
  min-height: 100vh;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background 0.5s;
}

.light-section {
  background-color: #f9f9f9;
  color: #111;
}
.clients-section {
  background-color: #5e654b; /* color verde oliva oscuro */
  color: #f5f5f5;
  padding: 100px 20px;
  text-align: center;
}

.clients-section h2 {
  font-size: 3em;
  margin-bottom: 40px;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  font-size: 1.2em;
}


.contact-section {
  background-color: #e0dcc8;
  color: #4e4e4e;
  padding: 20px;
  text-align: center;
  font-family: 'Georgia', serif;
  font-size: 1.1em;
  line-height: 1.8;
  letter-spacing: 0.3px;
}

.contact-section p {
  margin: 6px 0;
}

.contact-section p:first-child {
  font-size: 1.4em;
  font-weight: 400;
  color: #3c3c3c;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #111;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 70%; /* EVITA que el logo + texto ocupen todo el ancho */
}

.logo img {
  height: 28px;
  width: auto;
  display: block;
}

.logo span {
  font-weight: 400;
  font-size: 0.6em;
  letter-spacing: 3px;
  font-family: 'Georgia', serif;
  color: white;
}

/* Estilos base para el botón */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.8em;
  color: white;
  cursor: pointer;
}

/*Estilo para Celular*/

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #111;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    width: 100%;
  }

  .nav.open {
    display: flex;
  }

  .nav a {
    padding: 10px 0;
    width: 100%;
  }
}

.hero-section {
  background-color: #111;
  color: #f5f5f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 20px 80px 20px;
}